<launch>
    <!-- startup mobilebase arduino launch -->
    <include file="$(find ros_arduino_python)/launch/arduino.launch" />

    <!-- startup IMU node launch-->
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

    <!-- startup robot_pose_ekf node -->
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
        <param name="output_frame" value="odom_combined"/>
        <param name="base_footprint_frame" value="base_footprint"/>
        <param name="freq" value="20.0"/>
        <param name="sensor_timeout" value="1.0"/>  
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="false"/>
        <param name="debug" value="false"/>
        <remap from="imu_data" to="imu" />
    </node>
    
    <!-- transform between /odom and /odom_combined -->
    <!--<node pkg="tf" type="static_transform_publisher" name="odom_combined_broadcaster" args="0 0 0 0 0 0 /odom /odom_combined 100" />-->

    <!-- startup protect motor node -->
    <node pkg="protect_motors" type="protect_motors_node" name="protect_motor_node" output="screen">
      <param name="max_current" value="1.8"/>
      <param name="motor_power_pin" value="52"/>
      <param name="alarm_power_pin" value="51"/>
      <param name="delay_time" value="8"/>
    </node>

    <!-- startup rplidar node -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <node name="base2laser" pkg="tf" type="static_transform_publisher" args="0 0 0.2 0 0 0 1 /base_link /laser 100" />

    <!-- startup move_base node -->
    <include file="$(find navigation)/launch/move_base.launch" />

</launch>

